* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #000;
}

nav {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5vw;
}

nav .logo img {
    width: 25%;
}

nav .menu ul {
    display: flex;
}

nav .menu ul li {
    margin: 0 20px;
    list-style: none;
}

nav .menu ul li a {
    color: #fff;
    text-decoration: none;
}

.banner {
    background-color: red;
    padding: 25px;
    height: 60vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%), url(../images/banner.jpeg) repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner h1 {
    color: #fff;
}

.banner p {
    margin-top: 1.5vw;
    width: 70%;
    color: #fff;
}

.banner .btn-grp {
    margin-top: 3vw;
}

.banner .btn-grp button {
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
}

.banner .btn-grp button:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #000
}

.owl-carousel {
    color: #fff;
}

.owl-carousel img {
    height: 50vh;
}